@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --main-color-web:  white;
    --sec-color: rgba(32, 59, 88, 0.151);
    --simple-color: rgb(107, 107, 107); /*Underline etc*/
    --main-color-font: rgb(38, 71, 105);
    --main-font: 'Montserrat', sans-serif;
}