@import url("colors&fonts.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery{
    background-color: var(--sec-color);
    width: 100%;
}
.slide-presentation{
    width: 70%;
    margin: 0 auto;
    font-size: 35px;
}
.slide-presentation h1{
    text-align: center;
    padding: 30px;
}
.slide-viewer{
    position: relative;
    overflow: hidden;
    height: 500px;
}
.slide-group{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.slide:first-child{
    display: block;
}
.slide-buttons{
    margin: auto;
    text-align: center;
}
.slide-btn{
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;
    padding: 0 10px;
}
.slide-btn.active, .slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;
}
.slide-btn{
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;
}
.slide-btn:hover{
    cursor: pointer;
}


.slide-1{
    background-color: rgb(114, 86, 112);
}
.slide-2{
    background-color: rgb(113, 165, 124);
}
.slide-3{
    background-color: rgb(52, 21, 109);
}
.slide-4{
    background-color: rgb(116, 86, 86);
}
.offer{
    width: 70%;
    margin: 0 auto;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-items: left;
    justify-content: space-around;
}
#gallery h3{
    width: 100%;
    text-align: center;
    font-size: 35px;
    padding: 30px 0px 10px 0px;
}
.photo-box{
    width: 320px;
    min-height: 280px;
    display: grid;
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border: 4px solid #dde1e5;
    border-radius: 10px;
}
.photo-box img{
    max-width: 290px;
    max-height: 250px;
    justify-self: center;
    object-fit: contain;
}
.photo-blur{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: #dde1e5;
}
.photo-blur h5{
    font-size: 25px;
    margin: 10px 10px;
    text-align: center;
}
