@import url("colors&fonts.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.category{
    background-color: var(--sec-color);
}
.offer h2{
    font-size: 50px;
    text-align: center;
    padding: 20px 0px 20px 0px ;
}
.offer{
    width: 70%;
    margin: 0 auto;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-items: left;
    justify-content: space-around;
}
#gallery h3{
    width: 100%;
    text-align: center;
    font-size: 35px;
    padding: 30px 0px 10px 0px;
}




/* Gallery descryption */
.gallery-info{
    display: none;
}
.gallery-info{
    border-radius: 20px;
    position: fixed;
    top: 5vh;
    grid-template-columns: 50% 50%;
    border: none;
    z-index: 100;
    width: 90vw;
    height: 90vh;
    background-color: white;
}
.close-info{
    padding: 5px 10px;
    background-color: rgb(209, 105, 105);
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid rgb(209, 105, 105);
    transition: color .3s, background-color .3s;
}
.close-info:hover{
    color: rgb(209, 105, 105);
    border: 2px solid rgb(209, 105, 105);
    background-color: white;
}
.img-desc{
    grid-column: 1 / 2;
    max-width: 50%;
    max-height: 70%;
    align-self: center;
    justify-self: center;
}
.photo-blur-a{
    grid-column: 2 / 3;
    position: static;
    background-color: var(--main-color-font);
    width: 100%;
    height: 100%;
    color: white;
}
.photo-blur-a h5{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.photo-blur-a p{
    padding: 30px;
}
.photo-blur-a a{
    padding: 10px 30px;
    background-color: rgb(207, 162, 79);
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 20px;
    text-align: right;
    border: 2px solid rgb(207, 162, 79);
    transition: color .3s, background-color .3s;
}
.photo-blur-a a:hover{
    color: rgb(207, 162, 79);
    border: 2px solid rgb(207, 162, 79);
    background-color: white;
}




/* Gallery */
.photo-box .close{
    display: none;
}
.photo-box p{
    display: none;
}
.photo-box a{
    display: none;
}

.photo-box{
    cursor: pointer;
    width: 320px;
    min-height: 280px;
    display: grid;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 4px solid var(--main-color-font);
    border-radius: 10px;
}
.photo-box img{
    max-width: 290px;
    max-height: 250px;
    justify-self: center;
    object-fit: contain;
    padding: 10px;
}
.photo-box .photo-blur{
    grid-row: 1/2;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: var(--main-color-font);
}
.photo-box .photo-blur h5{
    color: white;
    font-size: 25px;
    margin: 10px 10px;
    text-align: center;
}
